<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="address-selector">
    <div class="title">
      <h4>Saved Locations</h4>
    </div>
    <div class="address-list">
      <ion-list>
        <ion-radio-group name="auto" value="home">
          <ion-item>
            <ion-label>
              <h1>Home</h1>
              <p>No.35, abc road,DEF, NYC</p>
            </ion-label>
            <ion-radio value="home" slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>
              <h1>Office</h1>
              <p>No.35, abc road,DEF, NYC</p>
            </ion-label>
            <ion-radio value="office" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="new-address">
        <ion-button expand="block" fill="clear">
          <ion-icon slot="start" name="add"></ion-icon>
          Add New Location
        </ion-button>
      </div>
    </div>
  </div>
  <div class="bootom-pic-holder ion-text-right">
    <img src="https://i.ibb.co/bHVBSXJ/address.png" alt=""  class="animate__animated animate__fadeInRight">
  </div>
</ion-content>
<ion-footer class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <div class="btn-holder ion-padding-top">
      <ion-button expand="block" shape="round" (click)="goPayment()"  *ngIf="type=='delivery'">
       CONTINUE
      </ion-button>
      <ion-button expand="block" shape="round"  *ngIf="type=='my'">
        SAVE
       </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>