<ion-content>

  <ion-slides mode="ios" pager="ios" scrollbar="false" (ionSlideDidChange)="onSlideChange()" #slidess>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div class="topic-holder ion-padding">
              <h1>Explore Products</h1>
              <p class="ion-text-wrap ion-text-left">
                Expolore all products online easily, without waiting in queue.
              </p>
            </div>
            <div class="img-holder ion-text-left ion-padding ">
              <img src="https://i.ibb.co/rw7yWgw/explore.png" alt="" class="animate__animated animate__fadeInLeft" >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div class="topic-holder ion-padding">
              <h1>Fast Delivery</h1>
              <p class="ion-text-wrap ion-text-left">
                Super fast delivery.
                Enjoy like real time shopping
              </p>
            </div>
            <div class="img-holder ion-text-left ion-padding">
              <img src="https://i.ibb.co/Bqv5PPr/fast.png" alt="" class="delivery">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <div class="topic-holder ion-padding">
              <h1>Secure Payment</h1>
              <p class="ion-text-wrap ion-text-left">
                100% Secured payment gateways.
                Stay calm when you shopping
              </p>
            </div>
            <div class="img-holder ion-text-left ion-padding">
              <img src="https://i.ibb.co/3cZWy7G/safety.png" alt="" [ngClass]="animate" >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <div class="btn-holder ion-text-right" *ngIf="showNextButton">
    <ion-button (click)="Skip()" shape="round">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>