ion-content
{
    .social-btns-holder
    {
        ion-button
        {
            --background: white;
            --border-color: #D6DBE2;
            --border-radius:0.5rem;
            --border-style:solid;
            --border-width:1px;
            --box-shadow: none;
            height: 3rem !important;
        }
    }
}