<ion-content class="ion-padding">
  <div class="title-holder">
    <h1> Microbank </h1>
  </div>
<!-- 
  <div class="social-btns-holder ion-padding-vertical">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block">
          <ion-icon slot="icon-only" src="assets/imgs/icn-fb.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block">
          <ion-icon slot="icon-only" src="assets/imgs/icn-google.svg"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div> -->

  <div class="the-form ion-padding-vertical">
    <div class="input-item">
      <ion-label>Documento</ion-label>
      <ion-item>
        <ion-input type="number" placeholder="12345678"></ion-input>
      </ion-item>
    </div>
    <div class="input-item">
      <ion-label>Contraseña</ion-label>
      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
    </div>
    <div class="rem-forget-holder">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none">
            <ion-checkbox slot="start" mode="ios"></ion-checkbox>
            <ion-label>Recordarme</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-text-right ion-no-padding">
          <p (click)="goForgetPassword()">¿Olvidaste tu contraseña? </p>
        </ion-col>
      </ion-row>
    </div>

    <div class="btn-holder ion-padding-vertical">
      <ion-button (click)="Login()" expand="block" shape="round">
        Entrar
      </ion-button>
    </div>
  </div>
  <div class="bottom-field-holder ion-text-center">
    <p>¿Aún no eres cliente?&nbsp;<span (click)="goSignup()"></span></p>
  </div>
</ion-content>