<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="login" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="the-form ion-padding-vertical">
    <div class="input-item">
      <ion-label>Email Address</ion-label>
      <ion-item>
        <ion-input type="email" placeholder="abc@def.com"></ion-input>
      </ion-item>
    </div>

    <div class="btn-holder ion-padding-vertical">
      <ion-button  expand="block" shape="round">
        RESET PASSWORD
      </ion-button>
    </div>
  </div>
  <div class="bottom-field-holder ion-text-center">
    <p>Don’t have a account?&nbsp;<span (click)="goSignup()">Sign up</span></p>
  </div>
</ion-content>
