<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <div class="the-form ion-padding-vertical">
    <div class="input-item">
      <ion-label>Numero Documento</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="cliente.documento" type="number" placeholder="12345678"></ion-input>
      </ion-item>
    </div>

    <div class="input-item">
      <ion-label>Contraseña</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="cliente.password" type="password" placeholder="password"></ion-input>
      </ion-item>
    </div>
 

    <div class="btn-holder ion-padding-vertical">
      <ion-button (click)="goOTP()" expand="block" shape="round">
       SIGNUP
      </ion-button>
    </div>
  </div>
  <div class="bootom-pic-holder ion-text-right">
    <img src="https://i.ibb.co/HdWLkcF/signup.png" alt="" class="animate__animated animate__bounceInUp">
  </div>
</ion-content>