<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/imgs/icn-menu.svg">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-pic-holder ion-text-center">
    <ion-avatar  class="animate__animated animate__zoomInDown animate__slow">
      <img src="assets/imgs/user.svg" />
    </ion-avatar>
    <h1>John Doe</h1>
    <p>pdmproject2017wd1@gmail.com</p>
  </div>

  <div class="content-card animate__animated animate__bounceInUp animate__delay-1s">
    <ion-item lines="none">
      <ion-label>
        <p>Shopping Points</p>
        <h1>500</h1>
      </ion-label>
    </ion-item>
  </div>

  <div class="content-card animate__animated animate__bounceInUp animate__delay-1s">
    <ion-item lines="none">
      <ion-label>
        <p>Joined on</p>
        <h1>2020.02.15</h1>
      </ion-label>
    </ion-item>
  </div>

  <div class="content-card animate__animated animate__bounceInUp animate__delay-1s">
    <ion-item lines="none">
      <ion-label>
        <p>Total orders</p>
        <h1>07</h1>
      </ion-label>
    </ion-item>
  </div>
  
</ion-content>
