ion-toolbar
{
    --color: var(--ion-color-primary);
}



ion-content
{
    .search-img-holder
    {
        margin-top: 5vh;
        img
        {
            height: 60vh;
        }
    }

    .no-holder
    {
        #imgcol
        {
            height: 40vh;
        }

        h1
        {
            color: #244574;
            font-size: 1.6rem;
            margin: 0;
        }


        p
        {
            color: #808C9F;
            margin: 0;
        }
    }


}